.container {
    border: 2px solid black;
    height: 600px;

    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    /* flex-direction: row; */
    /* justify-content: center; */
    /* flex-wrap: wrap-reverse; */
    /* flex-flow: row wrap;
    gap: 10px; */
    /* column-gap: 10px; */

    /* flex-direction: row;
    gap: 10px;
    justify-content: center;
    flex-wrap: wrap;

    align-items: center;
    align-content: center; */
}

.children {
    border: 2px solid red;
    flex-grow: 1;
}
/* 
#box-1{
    flex-grow: 1;
}
#box-2{
    flex-grow: 3;
}
#box-3{
    flex-grow: 1;
}
#box-4{
    flex-grow: 2;
} */

#box-4{
    flex-basis: 40%;
    align-self: center;

}