/* h1 {
    text-align: center;
    background-color: red;
    color: white;
}
 */


/* *{
    color: red;
 } */


/* h1 , p {
    color: red;
} */

.text-red{
    color: red;
}
.text-center{
    text-align: center;
}
#second-heading{
    text-align: end;
}

/* .parent > p{
    color: purple;
} */

.parent p{
    color: purple;
}

/* .parent + h1 {
    color: red;
} */
.parent ~ h1 {
    color: red;
}